# Esercizio con il modulo Pandas
In questo esercizio lavoreremo con il modulo `pandas` utilizzando un file `.csv` creato all'inizio.
---

## **1. Lettura del file `.csv`**
- Leggi il file `data.csv` e caricalo in un `DataFrame`.
- Utilizza il metodo `read_csv()` per leggere il file CSV e visualizza le prime righe del `DataFrame` con `head()`.

In [1]:
# Importazione della libreria pandas e assegnamento come nome pd
import pandas as pd

# Lettura del file csv e inserimento dentro al dataframe pandas
df = pd.read_csv('data.csv')

# Stampa delle prime 3 righe del dataframe
print(df.head(3))

         Nome  Età   Città  Punteggio
0      Sylvia   34  Verona         83
1      Ettore   22  Verona         82
2  Costantino   33  Milano         84

## **2. Esplorazione dei dati**
- Mostra informazioni generali sul `DataFrame`, come i tipi di dati, utilizzando `info()`.
- Mostra le statistiche descrittive delle colonne numeriche utilizzando `describe()`.

In [3]:
print('------------------------------------------------------------- STAMPA LE INFORMAZIONI SUL DATAFRAME')
print(df.info())
print('------------------------------------------------------------- STAMPA LE STATISTICHE')
print(df.describe())

------------------------------------------------------------- STAMPA LE INFORMAZIONI SUL DATAFRAME
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nome       500 non-null    object
 1   Età        500 non-null    int64
 2   Città      500 non-null    object
 3   Punteggio  500 non-null    int64
dtypes: int64(2), object(2)
memory usage: 15.8+ KB
None
------------------------------------------------------------- STAMPA LE STATISTICHE
              Età  Punteggio
count  500.000000  500.00000
mean    42.736000   75.65800
std     15.377361   14.78439
min     18.000000   50.00000
25%     29.000000   63.00000
50%     42.000000   76.00000
75%     57.000000   89.00000
max     70.000000  100.00000

## **3. Selezione di colonne specifiche**
- Seleziona una o più colonne dal `DataFrame`.
- Utilizza le parentesi quadre `[]` per selezionare una singola colonna o un elenco di colonne.

## **4. Filtraggio dei dati**
- Filtra le righe del `DataFrame` per visualizzare solo i record che soddisfano una condizione specifica (es: valori superiori a una certa soglia).
- Suggerimento: utilizza l'operatore di confronto all'interno delle parentesi quadre `[]`.

## **5. Aggiunta di nuove colonne**
- Aggiungi una nuova colonna al `DataFrame` calcolata a partire da altre colonne esistenti.
- Utilizza l'operazione `DataFrame['nuova_colonna'] = ...` per creare una nuova colonna.

## **6. Ordinamento dei dati**
- Ordina i dati in base a una o più colonne.
- Utilizza `sort_values()` per ordinare il `DataFrame` specificando la colonna e l'ordine.

## **7. Raggruppamento e aggregazione**
- Raggruppa i dati in base ai valori di una colonna e calcola operazioni di aggregazione (es: somma, media).
- Utilizza `groupby()` seguito da metodi di aggregazione come `sum()`, `mean()`.

## **8. Gestione dei valori mancanti**
- Identifica i valori mancanti e sostituiscili con un valore appropriato.
- Utilizza `isna()` o `isnull()` per identificare i valori mancanti e `fillna()` o `dropna()` per gestirli.

## **9. Salvataggio del `DataFrame` aggiornato**
- Dopo aver effettuato modifiche, salva il `DataFrame` aggiornato in un nuovo file CSV.
- Utilizza `to_csv()` per salvare il file aggiornato con un nome diverso (es: `data_updated.csv`).