# **Esercizio su Pandas #2**
In questo esercizio ti verrà fornita una query SQL e dovrai convertirla in istruzioni di Pandas.

**NB:** Il file `products.csv` ha la seguente struttura tabellare:

|   **name**   | **qnt** | **origin** | **purchasePrice** | **salePrice** |
|--------------|--------:|------------|-----------------:|--------------:|
| Noci         |     227 | Giappone   |             3.09 |          3.46 |
| Sale         |     134 | Giappone   |             4.39 |          6.48 |
| Cipolle      |     231 | Cina       |             9.35 |         10.37 |
| Tortellini   |     426 | Brasile    |             4.89 |          6.85 |
| Gnocchi      |     215 | Brasile    |             3.56 |          4.15 |


**Punto 1.** Crea un `DataFrame` a partire dal file `products.csv` <!--  -->

In [21]:
# Importazione della libreria pandas e assegnamento come nome pd
import pandas as pd

# Lettura del file csv e inserimento dentro al dataframe pandas
df = pd.read_csv('products.csv')

# Stampa e visualizzazione del dataframe pandas
print(df)

                name  qnt    origin  purchasePrice  salePrice
0               Noci  227  Giappone           3.09       3.46
1               Sale  134  Giappone           4.39       6.48
2            Cipolle  231      Cina           9.35      10.37
3         Tortellini  426   Brasile           4.89       6.85
4            Gnocchi  215   Brasile           3.56       4.15
..               ...  ...       ...            ...        ...
95  Prosciutto crudo  299      Cina           5.28       6.72
96         Salsiccia  135    Grecia           9.47      11.53
97  Prosciutto crudo   38    Olanda           2.27       2.66
98            Gelato  356  Giappone           3.16       4.05
99        Crocchette  103    Olanda           8.12      11.74

[100 rows x 5 columns]

**Punto 2.** `SELECT * FROM products WHERE origin="Giappone";`

In [10]:

# Salvataggio dei prodotti provenienti dal Giappone nella variabile
prodotti = df[df['origin'] == 'Giappone']

# Stampo della variabile a schermo
print(prodotti)

                name  qnt    origin  purchasePrice  salePrice
0               Noci  227  Giappone           3.09       3.46
1               Sale  134  Giappone           4.39       6.48
2            Cipolle  231  Giappone           9.35      10.37
3         Tortellini  426  Giappone           4.89       6.85
4            Gnocchi  215  Giappone           3.56       4.15
..               ...  ...       ...            ...        ...
95  Prosciutto crudo  299  Giappone           5.28       6.72
96         Salsiccia  135  Giappone           9.47      11.53
97  Prosciutto crudo   38  Giappone           2.27       2.66
98            Gelato  356  Giappone           3.16       4.05
99        Crocchette  103  Giappone           8.12      11.74

[100 rows x 5 columns]

**Punto 3.** `SELECT SUM(qnt) FROM products WHERE origin="Brasile";`

In [26]:

# Estrapolo nella variabile prodotti tutti i prodotti con provenienza dal Brasile
prodotti = df[df['origin'] == 'Brasile']

# Stampo la somma delle quantità
print(prodotti['qnt'].sum())

1572

**Punto 4.** `SELECT * FROM products WHERE salePrice=(SELECT MAX(salePrice) FROM products);`

**Punto 5.** `SELECT origin, COUNT(*) FROM products GROUP BY origin ORDER BY COUNT(*) DESC;`

**Punto 6.** `SELECT * FROM products WHERE origin="Giappone";`

**Punto 7.** `SELECT origin, AVG(salePrice) FROM products GROUP BY origin ORDER BY salePrice DESC LIMIT 3`

**Punto 8.** `SELECT origin, COUNT(*) FROM products GROUP BY origin HAVING COUNT(*) > 1;`

**Punto 9.** `SELECT name, salePrice FROM products WHERE salePrice > (SELECT AVG(salePrice) FROM products);`